In [72]:
import pandas as pd

In [73]:
def get_data():
    data = pd.read_csv('../../data/coronavirus-covid-19-pandemic-usa-counties.csv')
    return data

In [74]:
df = get_data()

In [75]:
df.head()

                                                    Admin 2 FIPS Code;Province/State;Admin 2 Level (City/County/Borough/Region);Date;Total Death;Total Confirmed;location
12119;Florida;Sumter;2020-01-31;0;0;28.70181754                                            -82.079427
13153;Georgia;Houston;2020-01-31;0;0;32.45802497                                           -83.668791
13227;Georgia;Pickens;2020-01-31;0;0;34.46589159                                           -84.464066
13303;Georgia;Washington;2020-01-31;0;0;32.9671...                                         -82.793570
16003;Idaho;Adams;2020-01-31;0;0;44.89333571                                              -116.454525

In [76]:
dt = pd.read_csv('../../data/coronavirus-covid-19-pandemic-usa-counties.csv', sep=';')

In [77]:
dt.head()

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location
0,12119.0,Florida,Sumter,2020-01-31,0,0,"28.70181754,-82.0794267"
1,13153.0,Georgia,Houston,2020-01-31,0,0,"32.45802497,-83.66879087"
2,13227.0,Georgia,Pickens,2020-01-31,0,0,"34.46589159,-84.46406611"
3,13303.0,Georgia,Washington,2020-01-31,0,0,"32.96711864,-82.79357039"
4,16003.0,Idaho,Adams,2020-01-31,0,0,"44.89333571,-116.4545247"

In [78]:
state_name_of_us = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

dt['CODE'] = dt['Province/State'].map(state_name_of_us)
dt.head()

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location,CODE
0,12119.0,Florida,Sumter,2020-01-31,0,0,"28.70181754,-82.0794267",FL
1,13153.0,Georgia,Houston,2020-01-31,0,0,"32.45802497,-83.66879087",GA
2,13227.0,Georgia,Pickens,2020-01-31,0,0,"34.46589159,-84.46406611",GA
3,13303.0,Georgia,Washington,2020-01-31,0,0,"32.96711864,-82.79357039",GA
4,16003.0,Idaho,Adams,2020-01-31,0,0,"44.89333571,-116.4545247",ID

In [79]:
dt['Admin 2 FIPS Code'].duplicated() #check duplicate

0          False
1          False
2          False
3          False
4          False
           ...
3099175     True
3099176     True
3099177     True
3099178     True
3099179     True
Name: Admin 2 FIPS Code, Length: 3099180, dtype: bool

In [80]:
dt['Province/State'].unique() #check unique

array(['Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maryland', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Puerto Rico', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'West Virginia', 'Wisconsin',
       'Alabama', 'Alaska', 'Arkansas', 'California', 'Colorado', 'Maine',
       'Northern Mariana Islands', 'Vermont', 'Washington', 'Wyoming',
       'Arizona', 'Massachusetts', 'New Hampshire', 'Rhode Island',
       'Connecticut', 'Grand Princess', 'Hawaii', 'Delaware', 'Nevada',
       'Guam', 'District of Columbia', 'Diamond Princess',
       'American Samoa', 'Virgin Islands'], dtype=object)

In [81]:
dt['Province/State'].nunique() #check number of unique

58

In [82]:
dt.isna().any() #check empty

Admin 2 FIPS Code                              True
Province/State                                False
Admin 2 Level (City/County/Borough/Region)     True
Date                                          False
Total Death                                   False
Total Confirmed                               False
location                                      False
CODE                                           True
dtype: bool

In [83]:
dt[['lat', 'lon']] = dt['location'].str.split(',', expand=True)
dt.drop(columns=['location'], inplace=True)
dt.head()

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,CODE,lat,lon
0,12119.0,Florida,Sumter,2020-01-31,0,0,FL,28.70181754,-82.0794267
1,13153.0,Georgia,Houston,2020-01-31,0,0,GA,32.45802497,-83.66879087
2,13227.0,Georgia,Pickens,2020-01-31,0,0,GA,34.46589159,-84.46406611
3,13303.0,Georgia,Washington,2020-01-31,0,0,GA,32.96711864,-82.79357039
4,16003.0,Idaho,Adams,2020-01-31,0,0,ID,44.89333571,-116.4545247

In [90]:
check_zero_location = dt[(dt['lat'] == '0.0') | (dt['lon'] == '0.0')].sum()

Admin 2 FIPS Code                                          4.09134e+09
Province/State       MichiganMinnesotaNew MexicoColoradoNew MexicoM...
Date                 2020-01-312020-01-312020-01-312020-02-012020-0...
Total Death                                                    1088866
Total Confirmed                                               78425267
lat                  0.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00...
lon                  0.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00...
dtype: object

In [ ]:
dt.dropna() #delete empty rows

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location,CODE
0,12119.0,Florida,Sumter,2020-01-31,0,0,"28.70181754,-82.0794267",FL
1,13153.0,Georgia,Houston,2020-01-31,0,0,"32.45802497,-83.66879087",GA
2,13227.0,Georgia,Pickens,2020-01-31,0,0,"34.46589159,-84.46406611",GA
3,13303.0,Georgia,Washington,2020-01-31,0,0,"32.96711864,-82.79357039",GA
4,16003.0,Idaho,Adams,2020-01-31,0,0,"44.89333571,-116.4545247",ID
...,...,...,...,...,...,...,...,...
3099175,5083.0,Arkansas,Logan,2022-03-10,74,5076,"35.21413234,-93.71951016",AR
3099176,6009.0,California,Calaveras,2022-03-10,117,7595,"38.20537103,-120.552913",CA
3099177,6035.0,California,Lassen,2022-03-10,60,9813,"40.67311306,-120.59350990000002",CA
3099178,6037.0,California,Los Angeles,2022-03-10,31178,2808409,"34.30828379,-118.2282411",CA
3099179,12005.0,Florida,Bay,2022-03-10,778,46333,"30.26548745,-85.62122584",FL