In [7]:
import pandas as pd
df = pd.read_csv('coronavirus-covid-19-pandemic-usa-counties.csv', sep=';')

In [8]:
df.head()

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location
0,12119.0,Florida,Sumter,2020-01-31,0,0,"28.70181754,-82.0794267"
1,13153.0,Georgia,Houston,2020-01-31,0,0,"32.45802497,-83.66879087"
2,13227.0,Georgia,Pickens,2020-01-31,0,0,"34.46589159,-84.46406611"
3,13303.0,Georgia,Washington,2020-01-31,0,0,"32.96711864,-82.79357039"
4,16003.0,Idaho,Adams,2020-01-31,0,0,"44.89333571,-116.4545247"

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099180 entries, 0 to 3099179
Data columns (total 7 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   Admin 2 FIPS Code                           float64
 1   Province/State                              object
 2   Admin 2 Level (City/County/Borough/Region)  object
 3   Date                                        object
 4   Total Death                                 int64
 5   Total Confirmed                             int64
 6   location                                    object
dtypes: float64(1), int64(2), object(4)
memory usage: 165.5+ MB

In [10]:
df.describe()

       Admin 2 FIPS Code   Total Death  Total Confirmed
count       3.089760e+06  3.099180e+06     3.099180e+06
mean        3.214484e+04  1.572096e+02     1.088099e+04
std         1.736085e+04  6.771256e+02     5.017303e+04
min         6.000000e+01  0.000000e+00     0.000000e+00
25%         1.905050e+04  2.000000e+00     1.980000e+02
50%         3.007200e+04  2.800000e+01     1.658000e+03
75%         4.705150e+04  9.900000e+01     6.153000e+03
max         9.999900e+04  3.299100e+04     3.371673e+06

In [11]:
# find null values
df.isnull().sum()

Admin 2 FIPS Code                             9420
Province/State                                   0
Admin 2 Level (City/County/Borough/Region)    5652
Date                                             0
Total Death                                      0
Total Confirmed                                  0
location                                         0
dtype: int64

In [13]:
# sample null values
df[df['Admin 2 FIPS Code'].isnull()].head()

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location
30,NaN,Michigan,Michigan Department of Corrections (MDOC),2020-01-31,0,0,"0.0,0.0"
89,NaN,Utah,Southwest Utah,2020-01-31,0,0,"37.85447192,-111.4418764"
202,NaN,Utah,Southwest Utah,2020-02-01,0,0,"37.85447192,-111.4418764"
256,NaN,Missouri,Kansas City,2020-02-21,0,0,"39.0997,-94.5786"
349,NaN,Michigan,Michigan Department of Corrections (MDOC),2020-02-22,0,0,"0.0,0.0"