In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the data

In [30]:
df = pd.read_csv('coronavirus-covid-19-pandemic-usa-counties.csv', sep=';')

In [31]:
df.head()

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location
0,12119.0,Florida,Sumter,2020-01-31,0,0,"28.70181754,-82.0794267"
1,13153.0,Georgia,Houston,2020-01-31,0,0,"32.45802497,-83.66879087"
2,13227.0,Georgia,Pickens,2020-01-31,0,0,"34.46589159,-84.46406611"
3,13303.0,Georgia,Washington,2020-01-31,0,0,"32.96711864,-82.79357039"
4,16003.0,Idaho,Adams,2020-01-31,0,0,"44.89333571,-116.4545247"

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099180 entries, 0 to 3099179
Data columns (total 7 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   Admin 2 FIPS Code                           float64
 1   Province/State                              object
 2   Admin 2 Level (City/County/Borough/Region)  object
 3   Date                                        object
 4   Total Death                                 int64
 5   Total Confirmed                             int64
 6   location                                    object
dtypes: float64(1), int64(2), object(4)
memory usage: 165.5+ MB

## Validate the data

In [45]:
df.isnull().sum()

Admin 2 FIPS Code                             9420
Province/State                                   0
Admin 2 Level (City/County/Borough/Region)    5652
Date                                             0
Total Death                                      0
Total Confirmed                                  0
location                                         0
dtype: int64

In [51]:
# show sample null data for each column with null

df[df['Admin 2 FIPS Code'].isnull()].head()

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location
30,NaN,Michigan,Michigan Department of Corrections (MDOC),2020-01-31,0,0,"0.0,0.0"
89,NaN,Utah,Southwest Utah,2020-01-31,0,0,"37.85447192,-111.4418764"
202,NaN,Utah,Southwest Utah,2020-02-01,0,0,"37.85447192,-111.4418764"
256,NaN,Missouri,Kansas City,2020-02-21,0,0,"39.0997,-94.5786"
349,NaN,Michigan,Michigan Department of Corrections (MDOC),2020-02-22,0,0,"0.0,0.0"

In [58]:
# replace NaN of Admin 2 FIPS Code from location
nan_data = df[df['Admin 2 FIPS Code'].isnull()]

Empty DataFrame
Columns: [Admin 2 FIPS Code, Province/State, Admin 2 Level (City/County/Borough/Region), Date, Total Death, Total Confirmed, location, Admin 2 FIPS Code/without Nan]
Index: []

In [53]:
df[df['Admin 2 Level (City/County/Borough/Region)'].isnull()].head()

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location
174,69.0,Northern Mariana Islands,NaN,2020-02-01,0,0,"15.0979,145.6739"
674,99999.0,Grand Princess,NaN,2020-02-21,0,0,"0.0,0.0"
1149,66.0,Guam,NaN,2020-06-13,5,183,"13.4443,144.7937"
1562,88888.0,Diamond Princess,NaN,2020-06-16,0,49,"0.0,0.0"
1899,60.0,American Samoa,NaN,2020-06-19,0,0,"-14.271,-170.132"


# Time series

In [33]:
df['Date'] = pd.to_datetime(df['Date'])

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099180 entries, 0 to 3099179
Data columns (total 7 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   Admin 2 FIPS Code                           float64
 1   Province/State                              object
 2   Admin 2 Level (City/County/Borough/Region)  object
 3   Date                                        datetime64[ns]
 4   Total Death                                 int64
 5   Total Confirmed                             int64
 6   location                                    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 165.5+ MB

In [35]:
df.head()

,Admin 2 FIPS Code,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location
0,12119.0,Florida,Sumter,2020-01-31,0,0,"28.70181754,-82.0794267"
1,13153.0,Georgia,Houston,2020-01-31,0,0,"32.45802497,-83.66879087"
2,13227.0,Georgia,Pickens,2020-01-31,0,0,"34.46589159,-84.46406611"
3,13303.0,Georgia,Washington,2020-01-31,0,0,"32.96711864,-82.79357039"
4,16003.0,Idaho,Adams,2020-01-31,0,0,"44.89333571,-116.4545247"

In [36]:
df['Date'].min()

Timestamp('2020-01-22 00:00:00')

In [37]:
df['Date'].max()

Timestamp('2022-08-20 00:00:00')

# 1. How many days of data do we have?

In [39]:
df['Date'].max() - df['Date'].min()

Timedelta('941 days 00:00:00')

# 2. How many province/state do we have?

In [44]:
df['Province/State'].nunique()

58

# Show the list of province/state

In [43]:
df['Province/State'].unique()

array(['Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maryland', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Puerto Rico', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'West Virginia', 'Wisconsin',
       'Alabama', 'Alaska', 'Arkansas', 'California', 'Colorado', 'Maine',
       'Northern Mariana Islands', 'Vermont', 'Washington', 'Wyoming',
       'Arizona', 'Massachusetts', 'New Hampshire', 'Rhode Island',
       'Connecticut', 'Grand Princess', 'Hawaii', 'Delaware', 'Nevada',
       'Guam', 'District of Columbia', 'Diamond Princess',
       'American Samoa', 'Virgin Islands'], dtype=object)