In [3]:
import pandas as pd
import seaborn as sns


from explore_data import get_data

data = get_data()
data["date"] = pd.to_datetime(data["date"])
data.set_index("id", inplace=True)

In [4]:
data.head()

                date       state abbr    location  cases  death   season
id
NJ0004673 2020-05-19  New Jersey   NJ  Burlington   4005    247  spring1
NJ0004674 2020-05-19  New Jersey   NJ       Union  15051    977  spring1
NM0004675 2020-05-19  New Mexico   NM        Luna      8      1  spring1
NY0004676 2020-05-19    New York   NY      Albany   1655     69  spring1
NY0004677 2020-05-19    New York   NY      Oswego     89      3  spring1

In [16]:
# find top 5 state with most death

top_5_states = data.groupby("state")["death"].max().sort_values(ascending=False).head(5)
top_5_states

state
California    30716
Arizona       15761
Illinois      14051
New York      12694
Texas         10667
Name: death, dtype: int64

In [ ]:
# Show the joint distribution using kernel density estimation
g = sns.jointplot(
    data=data,
    x="date",
    y="cases",
    hue="season",
    kind="kde",
)