In [1]:
import src.plotter as plotter
import pandas as pd

from directories import Url

In [12]:
from src import get_url

url = get_url(Url.DATA.value)
df = pd.read_csv(url)

df.head()

     State City/County/Borough/Region  ... Total Confirmed  Death Rate
0  Alabama                    Choctaw  ...            2155    0.017169
1  Alabama                      Perry  ...            2366    0.019865
2  Alabama                     Wilcox  ...            3299    0.014550
3  Alabama                     Greene  ...            2079    0.024531
4  Alabama                     Sumter  ...            2882    0.018043

[5 rows x 6 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3232 entries, 0 to 3231
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   State                       3232 non-null   object
 1   City/County/Borough/Region  3232 non-null   object
 2   Date                        3232 non-null   object
 3   Total Death                 3232 non-null   int64
 4   Total Confirmed             3232 non-null   int64
 5   Death Rate                  3232 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 151.6+ KB

In [14]:
df.isnull().sum()

State                         0
City/County/Borough/Region    0
Date                          0
Total Death                   0
Total Confirmed               0
Death Rate                    0
dtype: int64

In [15]:
df['Death Rate'].describe()

count    3232.000000
mean        0.014258
std         0.007623
min         0.000000
25%         0.009905
50%         0.013487
75%         0.017687
max         0.108322
Name: Death Rate, dtype: float64

In [16]:
plotter.histogram_plot(
    df['Death Rate'],
    'Death Rate',
    bins=20,
    # path='../dist/images/death_rate_hist.png',
)

In [17]:
plotter.box_plot(
    df['Death Rate'],
    'Death Rate',
    # path='../dist/images/death_rate_box.png',
)

In [18]:
plotter.density_plot(
    df['Death Rate'],
    'Death Rate',
    # path='../dist/images/death_rate_density.png',
)