In [39]:
import pandas as pd

In [40]:
data = pd.read_csv('../../data/covid19_usa.csv')
data.head()

,id,FIPS,lat,lon,State,City/County/Borough/Region,infected total,death total
0,FL0000000,12119.0,28.701818,-82.079427,Florida,Sumter,0,0
1,GA0000001,13153.0,32.458025,-83.668791,Georgia,Houston,0,0
2,GA0000002,13227.0,34.465892,-84.464066,Georgia,Pickens,0,0
3,GA0000003,13303.0,32.967119,-82.793570,Georgia,Washington,0,0
4,ID0000004,16003.0,44.893336,-116.454525,Idaho,Adams,0,0

In [41]:
data.isna().sum()

id                            81954
FIPS                           9420
lat                               0
lon                               0
State                             0
City/County/Borough/Region     5652
infected total                    0
death total                       0
dtype: int64

In [42]:
# show null rows of FIPS
data[data['FIPS'].isna()] # look a bit weird, but it's ok for now...

,id,FIPS,lat,lon,State,City/County/Borough/Region,infected total,death total
30,MI0000030,NaN,0.000000,0.000000,Michigan,Michigan Department of Corrections (MDOC),0,0
89,UT0000089,NaN,37.854472,-111.441876,Utah,Southwest Utah,0,0
202,UT0000202,NaN,37.854472,-111.441876,Utah,Southwest Utah,0,0
256,MO0000256,NaN,39.099700,-94.578600,Missouri,Kansas City,0,0
349,MI0000349,NaN,0.000000,0.000000,Michigan,Michigan Department of Corrections (MDOC),0,0
...,...,...,...,...,...,...,...,...
3096406,UT3096406,NaN,38.996171,-110.701396,Utah,Southeast Utah,9957,73
3096478,MI3096478,NaN,0.000000,0.000000,Michigan,Federal Correctional Institution (FCI),324,5
3096540,UT3096540,NaN,41.271160,-111.914512,Utah,Weber-Morgan,73379,416
3097011,UT3097011,NaN,41.521068,-113.083282,Utah,Bear River,51405,236
3098476,UT3098476,NaN,37.854472,-111.441876,Utah,Southwest Utah,62930,585

In [43]:
# show null rows of City/County/Borough/Region
data[data['City/County/Borough/Region'].isna()] # look a bit weird, but it's ok for now...

,id,FIPS,lat,lon,State,City/County/Borough/Region,infected total,death total
174,NaN,69.0,15.0979,145.6739,Northern Mariana Islands,NaN,0,0
674,NaN,99999.0,0.0000,0.0000,Grand Princess,NaN,0,0
1149,NaN,66.0,13.4443,144.7937,Guam,NaN,183,5
1562,NaN,88888.0,0.0000,0.0000,Diamond Princess,NaN,49,0
1899,NaN,60.0,-14.2710,-170.1320,American Samoa,NaN,0,0
...,...,...,...,...,...,...,...,...
3095199,NaN,78.0,18.3358,-64.8963,Virgin Islands,NaN,7490,85
3095276,NaN,69.0,15.0979,145.6739,Northern Mariana Islands,NaN,692,3
3095428,NaN,78.0,18.3358,-64.8963,Virgin Islands,NaN,7439,85
3096574,NaN,88888.0,0.0000,0.0000,Diamond Princess,NaN,49,0
3096908,NaN,60.0,-14.2710,-170.1320,American Samoa,NaN,588,0

***Conclusion:*** *We can see that there are some null values in the data, but it's ok for now...*

### Missing values is not a problem for now, but we will need to deal with it later.

In [44]:
data.to_csv('../../data/clean_data.csv')