In [1]:
import pandas as pd

df = pd.read_csv('../../data/clean_data.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2338190 entries, 0 to 2338189
Data columns (total 10 columns):
 #   Column                      Dtype
---  ------                      -----
 0   id                          object
 1   Date                        object
 2   FIPS                        float64
 3   lat                         float64
 4   lon                         float64
 5   State                       object
 6   Abbr                        object
 7   City/County/Borough/Region  object
 8   infected total              int64
 9   death total                 int64
dtypes: float64(3), int64(2), object(5)
memory usage: 178.4+ MB

In [3]:
df.head()

,id,Date,FIPS,lat,lon,State,Abbr,City/County/Borough/Region,infected total,death total
0,NY0000000,2020-06-22,36103.0,40.883201,-72.801217,New York,NY,Suffolk,41010,1965
1,NY0000001,2020-06-22,36105.0,41.715795,-74.763946,New York,NY,Sullivan,1438,45
2,NC0000002,2020-06-22,37133.0,34.726074,-77.429082,North Carolina,NC,Onslow,221,3
3,ND0000003,2020-06-22,38001.0,46.096869,-102.528540,North Dakota,ND,Adams,0,0
4,OH0000004,2020-06-22,39063.0,41.002505,-83.668389,Ohio,OH,Hancock,63,5

In [4]:
from data_handler import format_type

In [5]:
format_type(df)

In [6]:
df.head()

,Date,FIPS,lat,lon,State,Abbr,City/County/Borough/Region,infected total,death total
id,,,,,,,,,
NY0000000,2020-06-22,36103,40.883201,-72.801217,New York,NY,Suffolk,41010,1965
NY0000001,2020-06-22,36105,41.715795,-74.763946,New York,NY,Sullivan,1438,45
NC0000002,2020-06-22,37133,34.726074,-77.429082,North Carolina,NC,Onslow,221,3
ND0000003,2020-06-22,38001,46.096869,-102.528540,North Dakota,ND,Adams,0,0
OH0000004,2020-06-22,39063,41.002505,-83.668389,Ohio,OH,Hancock,63,5

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2338190 entries, NY0000000 to VA2401699
Data columns (total 9 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Date                        datetime64[ns]
 1   FIPS                        object
 2   lat                         float64
 3   lon                         float64
 4   State                       object
 5   Abbr                        object
 6   City/County/Borough/Region  object
 7   infected total              int64
 8   death total                 int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 178.4+ MB

In [8]:
df['Date'].describe()

count                          2338190
mean     2021-02-28 12:00:00.000000768
min                2020-03-01 00:00:00
25%                2020-08-30 00:00:00
50%                2021-02-28 12:00:00
75%                2021-08-30 00:00:00
max                2022-02-28 00:00:00
Name: Date, dtype: object

In [9]:
df['State'].nunique()

50

In [10]:
# group data by year
df.groupby(df['Date'].dt.year).count()

,Date,FIPS,lat,lon,State,Abbr,City/County/Borough/Region,infected total,death total
Date,,,,,,,,,
2020,980118,980118,980118,980118,980118,980118,980118,980118,980118
2021,1169095,1169095,1169095,1169095,1169095,1169095,1169095,1169095,1169095
2022,188977,188977,188977,188977,188977,188977,188977,188977,188977

In [11]:
# save data separately by year
for year in range(2020, 2023):
    df[df['Date'].dt.year == year].to_csv(f'data/clean_data_{year}.csv', index=False)