In [20]:
import pandas as pd

from format_data import format_type

df = pd.read_csv("../../data/clean_data.csv")
format_type(df)

In [21]:
df["date"].describe()

count                          2301690
mean     2021-02-28 12:00:00.000000512
min                2020-03-01 00:00:00
25%                2020-08-30 00:00:00
50%                2021-02-28 12:00:00
75%                2021-08-30 00:00:00
max                2022-02-28 00:00:00
Name: date, dtype: object

In [22]:
df["state"].nunique()

50

In [23]:
# group data by year
df.groupby(df["date"].dt.year).count()

,date,FIPS,lat,lon,state,abbr,location,cases,death,year
date,,,,,,,,,,
2020,964818,964818,964818,964818,964818,964818,964818,964818,964818,964818
2021,1150845,1150845,1150845,1150845,1150845,1150845,1150845,1150845,1150845,1150845
2022,186027,186027,186027,186027,186027,186027,186027,186027,186027,186027

from data preparation we will group it by season, how?

In [24]:
season_cat = {
    "spring1": pd.date_range(start="2020-03-01", end="2020-05-31"),
    "summer1": pd.date_range(start="2020-06-01", end="2020-08-31"),
    "fall1": pd.date_range(start="2020-09-01", end="2020-11-30"),
    "winter1": pd.date_range(start="2020-12-01", end="2021-02-28"),
    "spring2": pd.date_range(start="2021-03-01", end="2021-05-31"),
    "summer2": pd.date_range(start="2021-06-01", end="2021-08-31"),
    "fall2": pd.date_range(start="2021-09-01", end="2021-11-30"),
    "winter2": pd.date_range(start="2021-12-01", end="2022-02-28"),
}  # we will use this to group data by season

# add season column
df["season"] = df["date"].apply(
    lambda x: [k for k, v in season_cat.items() if x in v][0]
)

In [25]:
df.groupby("season").count()

,date,FIPS,lat,lon,state,abbr,location,cases,death,year
season,,,,,,,,,,
fall1,286923,286923,286923,286923,286923,286923,286923,286923,286923,286923
fall2,286923,286923,286923,286923,286923,286923,286923,286923,286923,286923
spring1,290076,290076,290076,290076,290076,290076,290076,290076,290076,290076
spring2,290076,290076,290076,290076,290076,290076,290076,290076,290076,290076
summer1,290076,290076,290076,290076,290076,290076,290076,290076,290076,290076
summer2,290076,290076,290076,290076,290076,290076,290076,290076,290076,290076
winter1,283770,283770,283770,283770,283770,283770,283770,283770,283770,283770
winter2,283770,283770,283770,283770,283770,283770,283770,283770,283770,283770

***we can see that each season almost has the same number of data, so we can use this to group data by season***

### What is actually data we use?

FIPS, we not use it because we already have state column
lat, lon we not use it because it too specific and we already have state column

In [26]:
df.drop(columns=["year", "FIPS", "lat", "lon"], inplace=True)

In [27]:
df.head()

                date           state abbr  location  cases  death   season
id
NY0000000 2020-06-22        New York   NY   Suffolk  41010   1965  summer1
NY0000001 2020-06-22        New York   NY  Sullivan   1438     45  summer1
NC0000002 2020-06-22  North Carolina   NC    Onslow    221      3  summer1
ND0000003 2020-06-22    North Dakota   ND     Adams      0      0  summer1
OH0000004 2020-06-22            Ohio   OH   Hancock     63      5  summer1

### Why we save it to separate file by season?

classifiers will be make shorter to read and easier to understand (prevent overfitting)

In [29]:
# save it to separate file by season

for season in season_cat.keys():
    df[df["season"] == season].to_csv(f"data/{season}.csv")