In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/validated.csv')
df.head()

,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed,location
0,Florida,Sumter,2020-01-31,0,0,"28.70181754,-82.0794267"
1,Georgia,Houston,2020-01-31,0,0,"32.45802497,-83.66879087"
2,Georgia,Pickens,2020-01-31,0,0,"34.46589159,-84.46406611"
3,Georgia,Washington,2020-01-31,0,0,"32.96711864,-82.79357039"
4,Idaho,Adams,2020-01-31,0,0,"44.89333571,-116.4545247"

# validation

In [4]:
df.dropna(inplace=True)

In [6]:
# drop location
df.drop(['location'], axis=1, inplace=True)

In [7]:
df.head()

,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed
0,Florida,Sumter,2020-01-31,0,0
1,Georgia,Houston,2020-01-31,0,0
2,Georgia,Pickens,2020-01-31,0,0
3,Georgia,Washington,2020-01-31,0,0
4,Idaho,Adams,2020-01-31,0,0

In [11]:
df.isnull().sum()

Province/State                                0
Admin 2 Level (City/County/Borough/Region)    0
Date                                          0
Total Death                                   0
Total Confirmed                               0
dtype: int64

In [13]:
df['Province/State'].value_counts()

Texas                   240210
Georgia                 150720
Virginia                126228
Kentucky                113982
Missouri                110214
Kansas                   99852
Illinois                 97026
North Carolina           95142
Iowa                     94200
Tennessee                90432
Nebraska                 88548
Indiana                  87606
Ohio                     83838
Minnesota                82896
Michigan                 81012
Mississippi              78186
Puerto Rico              74418
Oklahoma                 73476
Arkansas                 71592
Wisconsin                68766
Pennsylvania             64056
Florida                  64056
Alabama                  64056
South Dakota             63114
Louisiana                61230
Colorado                 61230
New York                 59346
California               55578
Montana                  53694
West Virginia            52752
North Dakota             50868
South Carolina           44274
Idaho                    42390
Washington               37680
Oregon                   34854
Utah                     33912
New Mexico               32028
Alaska                   30144
Maryland                 23550
Wyoming                  22608
New Jersey               20724
Nevada                   16956
Maine                    16014
Arizona                  15072
Massachusetts            15072
Vermont                  14130
New Hampshire            10362
Connecticut               8478
Rhode Island              5652
Hawaii                    5652
Delaware                  3768
District of Columbia      1884
Name: Province/State, dtype: int64

# convert datatype to match the model

In [14]:
df['Date'] = pd.to_datetime(df['Date'])

In [15]:
df.head()

,Province/State,Admin 2 Level (City/County/Borough/Region),Date,Total Death,Total Confirmed
0,Florida,Sumter,2020-01-31,0,0
1,Georgia,Houston,2020-01-31,0,0
2,Georgia,Pickens,2020-01-31,0,0
3,Georgia,Washington,2020-01-31,0,0
4,Idaho,Adams,2020-01-31,0,0

In [16]:
# change header name
df.rename(columns={'Admin 2 Level (City/County/Borough/Region)':'City/County/Borough/Region'}, inplace=True)

In [18]:
df.head()

,Province/State,City/County/Borough/Region,Date,Total Death,Total Confirmed
0,Florida,Sumter,2020-01-31,0,0
1,Georgia,Houston,2020-01-31,0,0
2,Georgia,Pickens,2020-01-31,0,0
3,Georgia,Washington,2020-01-31,0,0
4,Idaho,Adams,2020-01-31,0,0

# Skim the data

In [24]:
# show the number of deaths and confirmed cases in the table
df[['Total Death', 'Total Confirmed']].describe()

        Total Death  Total Confirmed
count  3.093528e+06     3.093528e+06
mean   1.574282e+02     1.089286e+04
std    6.777160e+02     5.021627e+04
min    0.000000e+00     0.000000e+00
25%    2.000000e+00     2.000000e+02
50%    2.900000e+01     1.662000e+03
75%    1.000000e+02     6.155000e+03
max    3.299100e+04     3.371673e+06

In [30]:
# date detail
df['Date'].describe()

/var/folders/2b/3th3m2h118j350hwhvx48j580000gn/T/ipykernel_94327/2896786006.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df['Date'].describe()

count                 3093528
unique                    942
top       2020-01-31 00:00:00
freq                     3284
first     2020-01-22 00:00:00
last      2022-08-20 00:00:00
Name: Date, dtype: object

In [33]:
df.to_csv("../data/data.csv", index=False)